<header>
    <div class="personal_info">
        <img src="../../assets/logo-removebg-preview.png" class="logo" alt="">
        <h1>Mario Gutiérrez</h1>
    </div>
    <div class="links">
        <ul>
            <li><a routerLink="/home" class="selected" routerLinkActive="active">Sobre mi</a></li>
            <li><a routerLink="/about" routerLinkActive="active">Experiencia</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Mis proyectos</a></li>
            <li><a routerLink="/contact" class="contacto-button" routerLinkActive="active">Contacto</a></li>
        </ul>
    </div>
</header>
