<section>
    <div class="main-div">
        <div class="sobre-mi-text">
            <h2><span class="h2-first-word">Sobre</span><span>mi</span></h2>
            <p>¡Hola! Soy Mario Gutiérrez, un apasionado de la tecnología y el desarrollo web. Me encanta aprender cosas nuevas y enfrentarme a nuevos retos. Me considero una persona proactiva, responsable y con muchas ganas de seguir aprendiendo.</p>
            <div class="button-container">
                <a href="" routerLink="/" class="primary-a">Saber más</a>
                <a href="" routerLink="/" class="secondary-a">Contacto</a>
            </div>
        </div>
        <div>
            <!-- todo: add image -->
            <img src="" alt="">
        </div>
    </div>
    <div class="arrow-container">
        <button (click)="onClickScroll()">
          Saber más
        </button>
      </div>
</section>
